/* General styles */
.do-main {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Vertically center the content */
  position: relative;
}

/* Sidebar container adjustments */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 60%; /* Adjust the height as needed */
  justify-content: center; /* Vertically center the buttons inside the sidebar */
  gap: 1px;
  padding-top: 12%;
}

/* Styling the buttons in the sidebar */
.s-icon {
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.s-icon:hover {
  background-color: orange;
  color: white;
}

.active {
  background-color: orange;
  color: white;
}

/* Text overlay for the main content */
.s-text-do {
  position: absolute;
  bottom: 4em;
  right: 2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  max-width: 600px;
  padding: 0;
  line-height: 1.6;
  z-index: 1;
}

.s-text-do h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9);
}

.s-text-do p {
  font-size: 1.2em;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* Main image container */
.s-image {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  filter: brightness(0.8);
}

.sidebar-main {
  display: flex;
  gap: 1em;
  position: relative;
  scroll-snap-align: start;
}

/* Sidebar buttons and layout adjustments */
.table-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.title-cell {
  font-size: 16px;
  font-weight: 600;
}

.s-icons {
  font-size: 24px;
}

.d-none.d-sm-block {
  display: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebar {
    padding-top: 9%;
  }
  .s-text-do h2 {
    font-size: 2em;
  }

  .s-text-do p {
    font-size: 1em;
  }

  .s-icons {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .do-main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    justify-content: center;
    padding-top: 10%;
  }

  .s-text-do {
    bottom: 3em;
    right: 1em;
    max-width: 70%;
  }

  .s-text-do h2 {
    font-size: 1.5em;
  }

  .s-text-do p {
    font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .s-text-do {
    bottom: 4em;
    right: 0.5em;
    max-width: 70%;
  }

  .s-text-do h2 {
    font-size: 1.2em;
  }

  .s-text-do p {
    font-size: 0.8em;
  }

  .sidebar {
    gap: 0.2em;
    padding-top: 35%;
  }

  .s-icon {
    font-size: 12px;
    width: 2em;
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s-icons {
    font-size: 16px;
  }
}
