.footer-map,
.footer-contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-map {
  width: 100%; /* Full width of the page */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-map iframe {
  width: 100%; /* Make iframe take full width */
  height: 35em; /* Adjust height as needed */
  border: none; /* Remove border for a cleaner look */
  border-radius: 8px; /* Optional: Add rounded corners to the iframe */
}
.footer-end {
  background-color: black;
  text-align: center;
  padding: 0.5em;
  color: white;
}

@media (max-width: 787px) {
  .footer-main {
    justify-content: center;
    flex-direction: column;
  }
  .footer-map {
    display: none;
  }
}
