.contact-head,.footer-map section ,.social-title{
    font-size: 1.5em;
    font-weight: 900;
    color: orange;
    padding-block: 1em;
    text-align: center;
}
.contact-form{
    box-sizing: border-box;
    display: flex;
    padding: 1em;
    width: min(30em,90%);
    gap: 1em;
    flex-direction: column;
}
.contact{
    display: flex;
    gap: 1em;
}
.contact-form textarea{
    padding: 0.5em;
    height: 8em;
    border: 1px solid orange;
    outline: none;
}
.contact-form>section>*{
    padding:0.5em;
    width: 100%;
    outline: none;
    border: 1px solid orange;
}
.contact-form button{
    outline: none;
    background-color: orange;
    border: none;
    font-weight: 500;
    padding: 0.5em;
}
.contact-form button:hover{
    background-color: rgb(217, 142, 2);
}



.social-media{
    justify-content: center;
    gap: 2em;
    display: flex;
    background-color: whitesmoke;
    padding-bottom: 2em;
}

.social-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.social-logo{
    width: 2em;
}


@media (max-width:787px){
    .social-media{
        flex-direction: column;
    }
}